git+https://github.com/newsapps/p2p-python.git#egg=p2p-tribune
git+https://tribune.unfuddle.com/git/tribune_python-tribune-viztools/@0.5.1#egg=tribune_viztools
git+https://github.com/newsapps/python-tribune-omniture.git
smartypants
ftfy